.search-container {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;

}
.flight-search {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.flight-form {
  display: flex;
  flex-direction: row;
}

.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  
  label {
    width: 5em;
    text-align: right;
    margin-right: .5em;
    margin-left: .5em;
  }

  .sublabel {
    color:gray; 
    margin:4px; 
    font-size: 11px;
  }

  input, select {
    border: 1px solid #ccc;
  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    font-size: 14px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: lightblue;
    border: solid 1px black;
    cursor: pointer;
  }
  
  input[type="date"] {
    position: relative;
  }
  
  input[type="date"]:before {
    content: attr(placeholder);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: rgba(0, 0, 0, 0.65);
    pointer-events: none;
    line-height: 1.5;
    padding: 10px 0.5rem 0 0.5rem;
  }
  
  input[type="date"]:focus:before,
  input[type="date"]:not([value=""]):before
  {
    display: none;
  }

  .custom-bg {
    background-color: #F7F7F9;
  }